{%extends "base.html" %}


{% block content %}
<article>
    <h1>День шестнадцатый. Конспектттттт</h1>
    <h3>Flask</h3>
    <p>Для начала нужно открыть хотя бы пустую страницу. Для этого используем Flask. Его нужно импортнуть и заключить в переменную:</p>
    <pre>
        from flask import Flask
        app = Flask(__name__)
    </pre>
    <p>Саму страницу откроем следующим образом:</p>
    <pre>
        @app.route('/example (навигационное название страницы)')
    </pre>
    <p>В скобках и кавычках прописывается ссылка на страницу, которая будет видна в строке поиска.
        Сюда нужно добавить функцию, с помощью которой будет запускаться файл с кодом содержимого страницы:</p>
    <pre>
        @app.route('/example (навигационное название страницы)')
        def example():
            return render_template('example.html (Название файла)')
    </pre>
    <p>Можно сделать ссылку на другую страницу. Такой код нужно заключить в тег "a" (без кавычек), который нужно закрыть после назввния, финального вида ссылки.
        Такой код уже помещается уже в код самой страницы.</p>
    <pre>
        <'a' href={url_for('second-example')}>Финальный внешний вид ссылки
    </pre>
</article>
<aside class="partnership">
  Тут могла быть ваша реклама (Помогите ради Господа..)
</aside>

{% endblock %}
