{%extends "base.html" %}


{% block content %}
<article>
    <h1>День семнадцатый. Продолжение конспектттттта</h1>
    <h3>POST запрос</h3>
    <p>С помощью метода "POST" пользователь может запросить что либо с сайта. С его помощью мы можем оформить регистрацию пользователей на сайте.</p>
    <p>Напрмер, создадим новую страницу - для регистрации. Открыть для нее путь на сервер можно по конспекту в <a href= {{ url_for('day', num=16) }}>16 дне</a>. </p>
    <p>В итоге выглядеть это будет так:</p>
    <pre>
        @app.route('/login', methods=['GET', 'POST'])
def login():
    </pre>
    <p>Теперь можно прописывать дальнейшие действия, вязанные с информацией, полученной методом POST.
        Но для этого желательно создать неких пользователей (потому что живые к нам никогда не зайдут).
        Займемся этим в <a href= {{ url_for('day', num=18) }}>дне 18</a>, а потом вернемся сюда и сделаем с методом POST хоть что-то, кроме его добавления в код.</p>

    <p>И так, у нас есть разные пользователи (ну или 1 задохлик) и информация об их прошлых действиях на сайте (хотя бы регистрировались ли они ранее).
    Сначала проверим метод запроса (3-я строка), а потом регистрацию пользователя (4-я строка). Если оба параметра соблюдены, переносим пользователя на страницу его профиля
        (зачем ему регистрироваться заново, лучше сразу покажем итог). Для этого не просто откроем путь к файлу с кодом,
        какую-то конфиденциальность все же надо соблюдать (для вида лол). Мы перенесемся в функцию профиль, которую на месте же и оформим собственноручно.</p>
    <pre>
        @app.route('/login', methods=['GET', 'POST'])
        def login():
            if request.method == 'POST':
                if session.get('username'):
                    return redirect(url_for('profile' (отправляем пользователя на страницу профиля посредством функции профиль), username=session['username']))
    </pre>
    <p>Функция ✨профиль✨.</p>
    <p>Для начала, как обычно, открываем путь к этой странице. Как можно заметить, просто вписав в поисковую строку имя пользователя,
        на страницу которого мы хотим попасть, это будет легко достигнуто) Но это сейчас не важно. Сама функция.
        Еще раз проверяем, нужный ли это пользователь (строка 3), и если да, уже точно перекидываем его на страницу профиля (строка 4).
        Если нет - переносим его обратно в страницу регистрации. И вот тут начинается самое вкусное.</p>
    <pre>
        @app.route('/profile/<username>')
        def profile(username):
            if username == session.get('username'):
                return render_template('profile.html', username=username)
            return redirect(url_for('login', username=session['username']))
    </pre>

    <p>Фух, сейчас мы попытаемся сделать так, чтобы пользователь, который уже зарегестрирован, но не заходил на сайт,
        например, с данного устройства, все равно мог попасть на свой профиль. Находим место, на котором мы остановились,
        перенося бывшего уже тут пользователя на страницу профиля (строка 5). И продолжаем с 6 строки расписывать действия, которые произойдут в ситуации, описанной выше.
    Проверяем для конкретного пользователя из списка таковых (строка 6): если логин, пришедший нам из формы (с помощью метода post)
    соответствует имени пользователя, которое хранится в нашей супер-базе (строка 7), мы переходим к  проверке пароля (строка 8).
    Если и эта проверка будет пройдена - запоминаем посещение пользователя с помощью сессий (строка 9) и передаем его в руки ✨функции профиль✨.
    Ситуацию при "провале" проверки мы разберем в <a href= {{ url_for('day', num=19) }}>дне 19</a> .</p>
    <pre>
        @app.route('/login', methods=['GET', 'POST'])
        def login():
            if request.method == 'POST':
                if session.get('username'):
                    return redirect(url_for('profile', username=session['username']))
                for user in users:
                    if request.form['login'] == user['username']:
                        if request.form['password'] == user['password']:
                            session['username'] = user['username']
                            return redirect(url_for('profile', username=user['username']))

            return render_template('login.html')

    </pre>
</article>
<aside class="partnership">
  Тут могла быть ваша реклама (заберите из заложников школы..)
</aside>

{% endblock %}
