{%extends "base.html" %}


{% block content %}
<article>
    <h1>День семнадцатый. Продолжение конспектттттта</h1>
    <p>пост запрос на юрл</p>
    <p>С помощью метода "POST" пользователь может запросить что либо с сайта. С его помощью мы можем оформить регистрацию пользователей на сайте.</p>
    <p>Напрмер, создадим новую страницу - для регистрации. Открыть для нее путь на сервер можно по конспекту в 16 дне. </p>
    <p></p>
</article>
<aside class="partnership">
  Тут могла быть ваша реклама
</aside>

{% endblock %}
