{%extends "base.html" %}


{% block content %}
<article>
    <h1>День восемнадцатый. Продолжение конспекттттттттта</h1>
    <h3>Авторизация и сессии</h3>
    <p>Предположим, что на наш сайт кто-то зашел и зарегестрировался. Но сейчас просто добавим такого выдуманного с помощью списка и словаря, так как у нас нет базы данных).
        'username' сообщает нам имя пользователя, 'password', соответственно, пароль.</p>
    <pre>
        users = [
            {'username': 'kirpich'(любое выдуманное имя), 'password': '1234'(любой пароль, можно хоть пробел)}
        ]
    </pre>
    <p>На этом можно было бы и закончить, но можно добавить ✨sessions✨, с помощью которых можно проводить более качественную авторизацию пользователей:
    запоминать их, когда они заходят на сайт, и сделать каждому страницу профиля. Для этого при открытии пути к главной странице создаем переменную,
        в которую закладываем класс sessions с атрибутом get. В скобках прописываем, что речь идет об имени пользователя,
        а в месте, где располагается ✨secret key✨ пока пишем None, на нашем сайте нет конфиденциальности. Конечно, не забываем импортнуть все это в начале страницы.
        Вот так оно по итогу  выглядит:</p>
    <pre>
    @app.route('/start')
    def start():
        username = session.get('username', None)
        return render_template('start.html')
    </pre>
    <p>Пока что это все, теперь можем вернуться в <a href= {{ url_for('day', num=17) }}>день 17</a> и продолжить работу с данными.</p>
</article>
<aside class="partnership">
  Тут могла быть ваша реклама
</aside>

{% endblock %}
